<div style="margin-top: 20px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Best Seller</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>N:P:K 19:19:19</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">NPK 19:19:19 is a complete water soluble, ideal fertilizer which provides all major macronutrients N-P-K in a balanced ratio to the plants through foliar spray or fertigation at the time of maximum requirement with the lowest losses.
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Humin Rich</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Humic substances have an indirect and direct effect on plant
                            development. Positive relationships between soil humus
                            levels, plant yields, and product quality have been reported in
                            several scientific journals. Indirect impacts include those that
                            offer energy to beneficial organisms in the soil, influence the
                            soil's water holding capacity, influence the soil's structure,
                            release of plant nutrients from soft minerals, enhanced
                            availability of trace minerals, and overall improved soil
                            fertility</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>DAP</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">DAP Fertilizer Advantages And Disadvantages: Di-ammonium Phosphate prominently known as DAP is a favoured manure in India since it contains both Nitrogen and Phosphorus which are essentially large scale supplements and part of 18 fundamental plant supplements. Di-ammonium Phosphate prominently known as DAP is favoured manure in India since it contains both Nitrogen and Phosphorus which are essentially large scale supplements and part of 18 fundamental plant supplements.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Humic Acid </h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Humic acid is the most important organic acid in agriculture. It is present in all soils and is a major component of organic matter. Humic acid plays a key role in soil fertility and plant growth. It helps to improve soil structure, increase water retention, and promote nutrient uptake</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Shop!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</div>